body{
    background-color:rgb(42 42 42);
    color: beige;
}
#UploadeWindow{
    background-color: rgb(133, 120, 143);
    color: beige;
}

#pageTitle{
    background-color: rgb(42 42 42);
    color: rgb(149, 107, 201);
}